.contacts__header {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 6px 0;
}

.contacts__item {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: @base-black;
  font-style: normal;
  padding-left: 19px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 16px;
    background-repeat: no-repeat;
    top: 15px;
    left: 0;
  }

  &--address::before {
    background-image: url("/img/svg/icon-address.svg");
  }

  &--phone::before {
    background-image: url("/img/svg/icon-phone.svg");
  }

  &--address {
    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 16px;
    }
  }
}

.contacts__text {
  margin-bottom: 2px;
}

.contacts__link {
  text-decoration: none;
  color: @base-black;
}
